bolton-clack ~= 0.3.3
bolton-eris ~= 0.2.3
bolton-logrus ~= 0.1.0
bolton-typist ~= 0.2.0
magodo ~= 0.10.0
potoroo ~= 0.3.2
python-dateutil ~= 2.8
rich ~= 12.3
sqlmodel ~= 0.0.6
textual ~= 0.1.17
textual-inputs ~= 0.2.5
vimala ~= 0.1.2

# constraints
sqlalchemy == 1.4.35  # see https://github.com/tiangolo/sqlmodel/issues/315
